.search-form {
  z-index: 1000;
  width: 100%;
  text-align: center;
  background-color: gray;
  margin: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  display: block;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.photo-card {
  flex-basis: 300px;
}
